
@*<link rel="stylesheet" type="text/css" href="~/Content/mystyle.css">*@

    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 210px;
            background-color: #3a5050;
        }

        li a {
            display: block;
            color: white;
            padding: 8px 16px;
            text-decoration: none;
        }

           

            li a:hover {
                background-color: black;
                color: white;
            }
    </style>

<div class="col-sm-3 col-md-2 col-lg-2" style="background-color:#3a5050;color:white;height:605px">



    <h4>Hi @Session["UserID"].ToString()</h4>



    <!--Panel-->
    @*<ul style="list-style:none;font-size:medium;">
            <li><a href="~/Login/LoggedIn">Home</a></li>
            <li><a href="~/FundTransfer/Fund_Transfer">Fund Transfer</a></li>
            <li><a href="~/ministatement">Mini Statement</a></li>
            <li><a href="#">Menu 3</a></li>
        </ul>*@

    <ul>
        <li><a  href="~/Login/LoggedIn">Home</a></li>
        <li><a href="~/FundTransfer/Fund_Transfer">Fund Transfer</a></li>
        <li><a href="~/ministatement">Mini Statement</a></li>
        <li><a  href="#">Menu 3</a></li>
    </ul>


    <div>
        <input type="button" class="btn btn-danger" value="LogOut" onclick="location.href='@Url.Action("LoggedOut", "Logout")'" />
        <p></p>
    </div>
</div>
